<div id="deleted-emp">
    <div class="delete_content">
      <h3 style="color:red;">Deleted Successfully</h3>
    </div>
    <div class="delete_btn">
      <button type="button" class="btn btn-danger btn-delete" id="emp_del" onclick=" closeDeketedEmployee()">OK</button>
    </div>
  </div>