<div class="side-bar-heading">
    <div class="heading-section">
      <h2>Employee</h2>
      <h4>Management</h4>
    </div>
    <hr>
    <div class="nav-list">
      <ul>
        <li><i class="fa-solid fa-house"></i><a href="#">Dashboard</a></li>
        <li id="homeEmp" onclick=" homeEmployee()"><i class="fa-solid fa-chart-simple"></i><a href="#">Employees</a></li>
        <li><i class="fa-solid fa-user"></i><a href="#">My Profile</a></li>
        <li><i class="fa-solid fa-right-from-bracket"></i><a href="#">Logout</a></li>
      </ul>
    </div>
    <div class="side-bar-footer">
      <hr>
      <div class="side-footer">
        <p>Powered by</p>
        <img src="Assets/images/image 1.png" alt="">
      </div>
    </div>
  </div>